* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Instrument Sans', sans-serif;
}

/* Header */

header {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #f0f0f0;
    height: 80px;
}

.logo {
    flex: 0 0 auto;
    margin-left: 30px;
    margin-right: 30px;
    color: rgb(56, 71, 132);
    cursor: pointer;
    font-size: xx-large;
    font-weight: bold;
}

.logo a {
    text-decoration: none;
    color: inherit;
}

.search-box {
    flex: 1 1 auto;
    text-align: center;
}

.search-input {
    width: 300px;
    height: 35px;
    border: 1px solid #f0f0f0;
    border-radius: 25px;
    padding: 5px 15px;
    font-size: 16px;
}

.search-btn {
    flex: 1;
    border: none;
    background-color: #fff;
    margin-right: 30px;
}

.fa-search {
    cursor: pointer;
    color: #fff;
    padding: 10px;
    border-radius: 100%;
    background-color: rgb(56, 71, 132);
}

.fa-search:hover {
    background-color: rgb(40, 51, 94);
    transition: 0.1s all ease-in-out;
}

.menu-container {
    margin-right: 30px;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    border: 1px solid rgb(56, 71, 132);
    border-radius: 25px;
    padding: 1.5px 3px;
    cursor: pointer;
}

.menu-container:hover {
    box-shadow: 0px 4px 12px 0px #e2e2e2;
    transition: 0.1s all ease-in-out;
}

.menu-profile {
    margin: 0 5px;
}

.burger_img {
    margin-bottom: 4px;
}

.profile_img {
    margin-top: 2px;
    border-radius: 100%;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    border-radius: 4px;
    position: absolute;
    right: -10%;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    margin: 4px;
    border-radius: 4px;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: 0.1s all ease-in-out;
}

.dropdown-content a:hover {
    background-color: #e2e2e2;
}

.reg_log_btn {
    border: none;
    border-radius: 4px;
    color: white;
    background-color: #0d6efd;
}

.dropdown:hover .dropdown-content {
    display: block;
    transition: 0.1s all ease-in-out;
}

@media screen and (max-width: 948px) {
    .search-box {
        text-align: left;
    }
}

@media screen and (max-width: 648px) {
    .search-input {
        width: 75%;
    }

    .logo a {
        font-family: 'Cherry Bomb One', cursive;
    }
}

@media screen and (max-width: 483px) {
    .search-input {
        width: 50%;
    }

    .burger_img {
        display: none;
    }
}

@media screen and (max-width: 344px) {
    .search-input {
        width: 25%;
    }
}

/* Register Form */
#reg_form_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

#reg_form_container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.reg_form_group {
    margin-bottom: 20px;
}

.reg_form_group label {
    display: flex;
    justify-content: left;
}

.reg_form_control {
    width: 100%;
    padding: 10px 40px;
    padding-left: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.reg_form_control:focus {
    outline: none;
    border-color: rgb(56, 71, 132);
}

.reg-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    cursor: pointer;
}

.reg_btn {
    width: 100%;
    padding: 10px 0;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: medium;
}

.btn-primary {
    background-color: rgb(56, 71, 132);
    color: #fff;
}

.btn-primary:hover {
    background-color: rgb(40, 51, 94);
    transition: 0.1s all ease-in-out;
}

/* Register Form */
#login_form_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

#login_form_container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.login_form_group {
    margin-bottom: 20px;
}

.login_form_group label {
    display: flex;
    justify-content: left;
}

.login_form_control {
    width: 100%;
    padding: 10px 40px;
    padding-left: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.login_form_control:focus {
    outline: none;
    border-color: rgb(56, 71, 132);
}

.login-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    cursor: pointer;
}

.login_btn {
    width: 100%;
    padding: 10px 0;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: medium;
}

/* Error Messages */

.error-message {
    color: rgb(150, 0, 0);
    margin-bottom: 0;
    text-align: center;
}

/* Catalogue */

.catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* Center the panels horizontally */
    align-items: center;
    /* Center the panels vertically */
    margin-top: 30px;
}

.panel {
    flex-basis: calc(100% - 20px);
    /* For smaller screens (1 panel per row) */
    padding: 10px;
    box-sizing: border-box;
    margin: 0;
    text-align: center;
    margin-bottom: 20px;
}

.panel img {
    border-radius: 25px;
    max-width: 100%;
    height: 200px;
    /* Set a fixed height for the images */
    object-fit: cover;
    /* Maintain aspect ratio and fill the container */
    display: block;
    margin: 0 auto;
    /* Center the image horizontally */
}

/* Updated link styles */
.panel a {
    text-decoration: none;
    color: inherit;
}

.panel h3 {
    font-weight: bold;
    margin-top: 15px;
}

.panel p {
    font-size: 15px;
}

.rating {
    font-size: 15px;
    color: rgb(225, 146, 0);
}

@media only screen and (max-width: 767px) {

    /* For smaller screens (1 panel per row) */
    .panel {
        flex-basis: calc(100% - 20px);
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {

    /* For iPads and tablets in portrait mode (3 panels per row) */
    .panel {
        flex-basis: calc(33.33% - 20px);
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) and (orientation: landscape) {

    /* For iPads and tablets in landscape mode (4 panels per row) */
    .panel {
        flex-basis: calc(25% - 20px);
    }
}

@media only screen and (min-width: 1024px) {

    /* For larger screens (4 panels per row) */
    .panel {
        flex-basis: calc(25% - 20px);
    }
}

/* Footer */

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #f0f0f0;
    background-color: #fff;
    padding: 15px;
    display: flex;
    align-items: center;
    transition: transform 0.8s;
}

footer.hidden {
    transform: translateY(100%);
}

footer p {
    color: rgb(56, 71, 132);
    margin-left: 40px;
}

footer p a {
    text-decoration: none;
    color: rgb(56, 71, 132);
}

footer p a:hover {
    text-decoration: none;
    color: #000;
    transition: 0.1s all ease-in-out;
}

footer .social-icons {
    display: flex;
    position: absolute;
    right: 0;
    margin-top: 4px;
    margin-right: 50px;
}

footer .social-icons img {
    margin-left: 30px;
}

@media only screen and (max-width: 732px) {
    footer {
        display: block;
        align-items: center;
        text-align: center;
    }

    footer p {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 5px;
    }

    footer .social-icons {
        position: static;
        margin-top: 0;
        display: block;
        margin-left: 0;
        margin-right: 0;
    }

    footer .social-icons img {
        margin: 5px 5px 0;
    }
}
